body {
  margin: 0;
  padding: 0;
  background-image: url('/images/3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* Чтобы фон не прокручивался */
  font-family: sans-serif;
}